body {
    margin: 2cm;
    background-color:#768a4f;
    font-family: sans-serif;
    text-align: center;
    }

h1 {
    background-color: #4d6a5a;
    color: white;
    text-align : center;
    font-family:  "Borel";
    font-weight: 400;
    font-style: normal;
      

}

h2 {
    color:#280813;
    font-family:  "Itim";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

p{font-family:  "Hachi Maru Pop";}
