body {
    margin: 2cm;
    background-color:#9a8fc8 ;
    font-family: sans-serif;
    text-align: center;
    }

h1 {
    background-color: #f79eb1;
    color:#472f5f;
    text-align : center;
    font-family:  "Borel";;
    font-weight: 400;
    font-style: normal;
      

}

h2 {
    color: #473469;
    font-family:  "Itim";;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

p{font-family:  "Gaegu";
    font-size: x-large;}