body {
    margin:2cm;
    background-color:#7be3ff ;
    font-family: sans-serif;
    text-align: center;
    }

h1 {
    background-color: #0f00ff;
    color:#fefefe;
    text-align : center;
    font-family:  "Borel";
    font-weight: 400;
    font-style: normal;
      

}

h2 {
    color: #0f00ff;
    font-family:  "Itim";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h3 {
    font-family:  "Itim";
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

p {font-family:  "Gaegu";
    font-size: x-large;}