<!DOCTYPE html>
<html lang="es-mx">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómo conocimos a Iridia</title>
    <link href="../css/Iri-styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Anecdotario - Iridia</h1>
            <a href="../index.html">Volver a la pagina principal</a>
            <hr>
        </header>
        <h2>Rosario Iridia Sotelo Rosales</h2>
        <img src="../assets/img/iridia-foto-perfil.JPG" width="700" alt="Mi foto de perfil">
        <hr>
        <h2>Cómo Vanya conoció a Iridia</h2>
        <p>Conocí a Iridia dos veces. La primera fue en el primer semestre, en línea, durante la pandemia. En ese momento no 
            la conocí a profundidad; solo había visto su foto o escuchado su voz durante las clases. Era un poco tímida, así que 
            no participaba mucho, pero aun así era de los estudiantes que mejor podía distinguir (y eso que no iba en mi grupo). 
            Luego la conocí en persona; eso fue en el segundo semestre, durante la clase de TICS, que combinaba a ambos grupos. 
            Al ser de salones distintos y tener diferentes grupos de amigos, no hablábamos mucho. Eso cambió cuando escogimos 
            la misma área. Desde entonces hemos tenido más oportunidades para hablar y convivir, y he descubierto que es muy 
            divertida y genial.
        </p>
        <h2>Cómo Lizeth conoció a Iridia</h2>
        <p>
            Conocí a Iridia durante las clases en linea, pero la primera ves que tuvimos una conversación
            fue mucho tiempo despues en el salón de clases, ella parecia un poco introvertida
            que solo hablamos de cosas sobre las clases. Con tiempo nos fuimos acercando y conviviendo más
            hasta el dia de hoy es mi corazón de melón. TQM Iri. 

        </p>
        <hr>
        <h2>Cómo Vanya e Iridia podrián mejorar la convivencia </h2>
        <p>Hablando más fuera de clases, casi nunca hemos tenido la oportunidad de 
            hablar fuera de ellas y de tratar algo que no sea la escuela. Me gustaría conocerla mejor.</p>

        <hr>
        <h2>Cómo Lizeth e Iridia podrián mejorar la convivencia:</h2>
        <p>
            Ya tenemos una buena convivencia pero me gustaria tener más comunicación a la hora de hacer trabajos en equipo
            comprendo la situación en la que no tiene el recurso para poder trabajar en linea.
            Pero eso no justifica que me dejes en visto :C ya contestame. 

        </p>
        

        <footer>
            Copyright© 2024 - WebDevs Chingones, todos los derechos reservados
        </footer>
    </body>
</html>
