<!DOCTYPE html>
<html lang="es-mx">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómo conocimos a Lizeth</title>
    <link href="../css/liz-styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Anecdotario - Lizeth</h1>
            <a href="../index.html">Volver a la pagina principal</a>
            <hr>
        </header>
        <h2>Lizeth Carmona Camacho</h2>
        <img src="../assets/img/liz-foto-perfil.jpg" alt="Mi foto de perfil">
        <hr>
        <h2>Cómo Vanya conoció a Lizeth</h2>
        <p>A Liz no la recuerdo de las clases en línea; quizás yo no prestaba la suficiente atención o quizás ella no participaba 
            mucho. La conocí en el segundo semestre; ella no iba en mi grupo, pero durante las clases de TICS nos juntaban a ambos 
            grupos. Al principio, no hablábamos mucho; la verdad es que sentía que no teníamos mucho de qué hablar. Sin embargo, 
            conforme pasaban los semestres, había cada vez más clases que compartíamos y poco a poco empezamos a convivir. 
            Ella es una persona muy linda, siempre dispuesta a ayudar, y también sabe mantener una charla con facilidad. 
            Es muy lista y la admiro mucho.</p>

        <h2>Cómo Iridia conoció a Lizeth</h2>
            <p>A Lizi la conocí en las clases en línea en primer semestre, pero nunca converse con ella hasta las clases precenciales.
                La primera vez que hablamos fue por fue una compañera que ya no esta inscrita, ya que en ese entonces no hablaba con mis
                demas compañeros, comenzamos a ser mas cercanas a partir del tercer semestre y desde ese entonces somos uña y mugre, no hay 
                iridia sin lizeth, ni lizeth sin iridia.
            </p>
        <hr>
        <h2>Cómo Vanya y Lizeth podrián mejorar la convivencia </h2>
        <p>Creo que nos hace falta conocernos un poco más, así que hablar fuera del horario escolar sería una gran opción.</p>

        <h2>Cómo Iridia y Lizeth podrián mejorar la convivencia </h2>
        <p>
            Tenemos una buena convivencia, lo unico en que podemos o más bien puedo mejorar la conviencia es en la comunicación
            ya que regularmente no suelo contestar mesajes, ¡prometo ya contestar los mensajes! hola.  
        </p>
        <hr>
        <footer>
            Copyright© 2024 - WebDevs Chingones, todos los derechos reservados
        </footer>
    </body>
</html>
