<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario|Integrante 2</title>
</head>
<body>
    <header>
        <h1>Anecdotario - Integrante 2</h1>
        <div>
            <p>
                <a href="">Volver a la página principal</a>
            </p>
            <hr>
        </div>
    </header>
    <div>
        <h2>Integrante 2</h2>
        <img src="" alt="Mi foto de perfil">
        <hr>
    </div>
    <section>
        <h3>Cómo conocí a Integrante 1</h3>
        <p>

        </p>
        <hr>
    </section>
    <section>
        <h3>Cómo conocí a Integrante 3</h3> 
        <p>

        </p>
        <hr>
    </section>
    <article>
        <h3>Cómo podríamos mejorar la convivencia:</h3>
        <p>

        </p>
    </article>
    <footer>
        <hr>
        <p>
            Copyright...
        </p>
    </footer>
</body>
</html>