<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómo conocimos a Vanya</title>
</head>
<body>
    <header>
        <h1>Anecdotario - Vanya</h1>
        <div>
            <p>
                <a href="../index.html">Volver a la página principal</a>
            </p>
            <hr>
        </div>
    </header>
    <div>
        <h2>Vanya</h2>
        <img src="../assets/img/image_vanya.jpg" alt="Imagen de Vanya: Tiene el cabello suelto y lacio, cara redonda y lleva una blusa morada">
        <hr>
    </div>
    <section>
        <h3>Cómo Lizeth conoció a Vanya</h3>
        <p>
            La primera vez que conocia Vanya fua a las clases
            en lia que compartiamos, participaba mucho, pero en realidad nunca
            habiamos entablado una conversación. tras llegar las clases presenciales
            dejamos de convivir por un tiempo volvimos a tener alguna clases
            juntas, solo nos saludabamos. Actualmente compartimos todas las clases
            y constantemente llegamos a convivir por lo que es una persona muy agradable
            y responsable sobre todo.

        </p>
        <hr>
    </section>
        <article>
        <h3>Cómo podríamos mejorar la convivencia:</h3>
        <p>
            Considero que al trabajar en equipo tenemos una comunicación constante
            pero, tal vez conociendola mejor como persona se podria forjar un vinculo de más confianza.

        </p>
        <hr>
    </article>
    <footer>
        <p>
            Copyright©  2024-WebDevs Chingones, todos los derechos reservados.
        </p>
    </footer>
</body>
</html>

