<!DOCTYPE html>
<html lang="es-mx">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómo conocimos a Vanya</title>
    </head>
    <body>
        <header>
            <h1>Anecdotario - Vanya</h1>
            <a href="../index.html">Volver a la pagina principal</a>
            <hr>
        </header>
        <a href="../assets/img/image_vanya.jpg">Imagen de Vanya: Tiene el cabello suelto y lacio, cara redonda y lleva una blusa morada</a>
        <footer>
            Copyright© 2024 - WebDevs Chingones, todos los derechos reservados
        </footer>
    </body>
</html>

